<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Маршрут</title>
</head>
<body>
<h2>Здравствуйте, <span th:text="${name}">Имя</span></h2>
<p>Это тестовое письмо из приложения Spring Boot</p>
<p>Дата отправки: <span th:text="${date}">Дата</span></p>

<!--"email": "user@example.com",-->
<!--"name": "Игорь",-->
<!--"trip": {-->
<!--"title": "Весеннее путешествие",-->
<!--"cities": ["Рим", "Флоренция", "Венеция"],-->
<!--"startDate": "2025-04-12",-->
<!--"endDate": "2025-04-21"-->

</body>
</html>